Repository Armor-test/profile-library-152, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/team-core, @Armor-test/squad-performance, @Armor-test/grp-search, @Armor-test/dept-release, @Armor-test/squad-mobile, @Armor-test/unit-design, @Armor-test/squad-qa, @Armor-test/squad-reporting, @Armor-test/squad-research, @Armor-test/dept-ui, @Armor-test/dept-security, @Armor-test/squad-apps, @Armor-test/unit-governance, @Armor-test/squad-cloud, @Armor-test/grp-api, @Armor-test/squad-frontend, @Armor-test/grp-ui, @Armor-test/team-notifications, @Armor-test/team-governance, @Armor-test/unit-test, @Armor-test/dept-logging, @Armor-test/team-research, @Armor-test/dept-reliability, @Armor-test/grp-payments, @Armor-test/squad-api, @Armor-test/dept-billing, @Armor-test/squad-ux, @Armor-test/grp-reporting, @Armor-test/dept-reporting, @Armor-test/squad-product, @Armor-test/dept-identity, @Armor-test/team-reporting, @Armor-test/dept-automation, @Armor-test/squad-database, @Armor-test/dept-test, @Armor-test/grp-storage, @Armor-test/squad-ml, @Armor-test/dept-notifications, @Armor-test/team-logging, @Armor-test/unit-devops, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/security, @Armor-test/auth-team, @Armor-test/compliance, @Armor-test/dependency-team

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/grp-api, @Armor-test/squad-frontend

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/team-core, @Armor-test/squad-performance, @Armor-test/grp-search

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/team-core, @Armor-test/squad-performance, @Armor-test/grp-search

Add src/main.py
  src/main.py
Owners: @Armor-test/grp-api, @Armor-test/squad-frontend

Add src/index.js
  src/index.js
Owners: @Armor-test/squad-api, @Armor-test/squad-ml

.github/CODEOWNERS:

# CODEOWNERS file for profile-library-152
# Global owners - will be requested for all PRs
* @Armor-test/team-core @Armor-test/squad-performance @Armor-test/grp-search

# Directory ownership
/views/ @Armor-test/dept-release @Armor-test/squad-mobile
/security/ @Armor-test/unit-design @Armor-test/squad-qa @Armor-test/squad-reporting
/pages/ @Armor-test/squad-research @Armor-test/dept-ui @Armor-test/dept-security
/web/ @Armor-test/squad-apps @Armor-test/unit-governance @Armor-test/squad-cloud
/src/ @Armor-test/grp-api @Armor-test/squad-frontend
/modules/ @Armor-test/grp-ui @Armor-test/squad-cloud @Armor-test/team-notifications
/lib/ @Armor-test/team-governance @Armor-test/unit-test
/db/ @Armor-test/dept-logging @Armor-test/team-research
/components/ @Armor-test/squad-reporting @Armor-test/team-research @Armor-test/dept-reliability
/tests/ @Armor-test/grp-payments @Armor-test/dept-security
/assets/ @Armor-test/squad-api @Armor-test/dept-billing @Armor-test/dept-release
/examples/ @Armor-test/squad-apps @Armor-test/squad-ux @Armor-test/grp-reporting

# File type ownership
*.java @Armor-test/dept-reporting @Armor-test/squad-product @Armor-test/dept-identity
*.html @Armor-test/team-reporting @Armor-test/dept-release
*.rb @Armor-test/squad-product @Armor-test/dept-security @Armor-test/unit-test
*.toml @Armor-test/dept-automation @Armor-test/squad-frontend @Armor-test/dept-reporting
*.tsx @Armor-test/squad-database @Armor-test/dept-test @Armor-test/grp-storage
*.rs @Armor-test/squad-frontend @Armor-test/grp-ui
*.sql @Armor-test/team-research @Armor-test/squad-ux
*.js @Armor-test/squad-api @Armor-test/squad-ml
*.php @Armor-test/squad-mobile @Armor-test/dept-notifications
*.ts @Armor-test/grp-search @Armor-test/unit-test @Armor-test/team-logging
*.properties @Armor-test/dept-release @Armor-test/dept-billing @Armor-test/squad-reporting
*.scss @Armor-test/squad-product @Armor-test/squad-qa
*.lock @Armor-test/grp-reporting @Armor-test/squad-product
*.cpp @Armor-test/squad-frontend @Armor-test/team-research @Armor-test/unit-governance
*.scala @Armor-test/grp-reporting @Armor-test/unit-devops

# Security and special files
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
/src/**/security/ @Armor-test/security @Armor-test/compliance
package.json @Armor-test/dependency-team @Armor-test/security
